/* textfield.component.css */
div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }

  /* Firefox */
input[type=number] {
  appearance: textfield;
}

/* Add this CSS to your component's CSS/SCSS file */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  

  .input-error {
    border: 1px solid red !important;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    animation: vibrate 0.3s infinite alternate;
    
  }

  @keyframes vibrate {

    0%,
    100% {
      transform: translateX(0);
    }
  
    25% {
      transform: translateX(4px);
    }
  
    75% {
      transform: translateX(-4px);
    }
  }