<div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 2%;">
  <h1>Trova La Distanza!</h1>
</div>

<div style="width: 15%; margin-left: 5%; margin-top: 10%;">
  <app-textfield placeholder="Latitudine 1"></app-textfield>
</div>

<div style="width: 15%; margin-left: 5%; margin-top: 0%;">
  <app-textfield placeholder="Longitudine 1"></app-textfield>
</div>

<div style="width: 15%; margin-left: 5%; margin-top: 2.5%;">
  <app-textfield placeholder="Latitudine 2"></app-textfield>
</div>

<div style="width: 15%; margin-left: 5%; margin-top: 0%;">
  <app-textfield placeholder="Longitudine 2"></app-textfield>
</div>

<div style="width: 15%; display: flex; justify-content: center; align-items: center; margin-left: 5%; margin-top: 2%; background-color: red;" >
  <app-button></app-button>
</div>