<div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-top: 2%;">
  <h1>Trova La Distanza!</h1>
</div>

<div style="width: 15%; margin-left: 5%; margin-top: 5%;">
  <app-textfield #l1 type="number" class="input" placeholder="Latitudine 1"></app-textfield>
</div>

<div style="width: 15%; margin-left: 5%; margin-top: 0%;">
  <app-textfield #lo1 type="number" class="input" placeholder="Longitudine 1"></app-textfield>
</div>

<div style="width: 15%; margin-left: 5%; margin-top: 2.5%;">
  <app-textfield #l2 type="number" class="input" placeholder="Latitudine 2"></app-textfield>
</div>

<div style="width: 15%; margin-left: 5%; margin-top: 0%;">
  <app-textfield #lo2 type="number" class="input" placeholder="Longitudine 2"></app-textfield>
</div>

<div style="width: 15%; display: flex; justify-content: center; align-items: center; margin-left: 5%; margin-top: 2%;" >
  <app-button (click) = "mostraDistanza(getValue(l1.inputValue), getValue(lo1.inputValue), getValue(l2.inputValue), getValue(lo2.inputValue))"></app-button>
</div>

<div style="width: 15%; margin-left: 5%; margin-top: 0%; padding: 10px;">
  <ng-container *ngIf="responseText !== null">
    <div [innerHTML]="responseText"></div>
  </ng-container>
</div>


<div style="width: 55%; height: 50%; margin-left: 35%; margin-top: -23%;" *ngIf="mapVisible">
  <app-map></app-map>
</div>




